.contentRecipeBar{
    height: 100px;
    width: 300px;
}

.calendarIcon{
    height: 50px;
    width: 50px;
}

.heartIcon{
    height: 50px;
    width: 50px;
}

.shoppingListIcon{
    height: 50px;
    width: 50px;
}

.iconImages{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
}

.searchIcon{
    height: 19px;
    width: 19px;
}

/* .propsImage{
    height: 200px;
    width: 200px;
} */

